*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    text-decoration: none;
}
body{
    min-height: 100vh;
}
.main{
    width: 100%;
    background: url(./images/pic/bg.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    /* width: 100vw; */
    position: relative;
    font-family: sans-serif;
}
 header{
    position: fixed;
    /* position: relative; */
    top: 0;
    left: 0;
    right: 0;
    background: white;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    padding: 0px 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
 }
header .logo{
    width: 160px;
    cursor: pointer;
    /* margin-top: -3%; */
    margin-left: -2%;
}


 header .navbar ul{
    list-style-type: none;
 }

 header .navbar ul li{
    position: relative;
    float: left;
 }

 header .navbar ul li a{
    font-size: 20px;
    padding: 20px;
    color: #333;
    display: block;
 }

 header .navbar ul li a:hover{
    background-color: #333;
    color: white;
 }

 #menu-bar{
    display: none;
 }
header label{
    font-size: 20px;
    color: #333;
    cursor: pointer;
    display: none;
}


.info{
    margin-left: 7%;
    padding-top: 13%;
}

.info h1{
    font-size: 40px;
    color: rgb(36,32,30);
}

.info h3{
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 24px;
}

.info span{
    color: rgb(230,104,59);
}

.info a{
    text-decoration:  none;
    color: #fff;
    background: rgb(36,32,30);
    margin: 26px 0;
    padding: 10px 18px;
    border-radius: 10px;
    display: inline-block;
    transition: .4s ease;
}

.info a:hover{
    background: rgb(59,174,209);
}

.image{
    width: 30%;
    height: 50%;
    position: absolute;
    right: 100px;
    bottom: 0;
}

.image img{
    position: absolute;
    height: 150%;
    left: 40%;
    transform: translate(-55%);
    bottom: 0px;
    transition: left 2s ease;
    /* z-index: 1000; */
}

.image:hover .girl{
    left: 55%;
}

.icons a{
    text-decoration: none;
    color: #000;
}

.icons .ion{
    margin-left: 7%;
    color: #000;
    margin-right: -40px;
    font-size: 40px;
    transition: .4s ease;
    
}

.icons .ion:hover{
    color: rgb(59,174,209);
}

.about{
    /* border: 1px solid; */
    background: url(./images/pic/bg.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    padding-bottom: 10%;
}
.about h1{
    color: tomato;
    font-size: 40px;
    /* border: 1px solid; */
    padding-top: 50px;
    text-align: center;
}
.about img{
    position: absolute;
    margin-top: 8%;
    border-radius: 30%;
    height: 40%;
    margin-left: 7%;
    
}
.about p{
    /* display: block; */
    margin-left: 30%;
    margin-top: 10%;
    margin-right: 17%;
    line-height: 24px;
    text-transform: none;
    font-size: 20px;
    text-align: justify;
    /* text-wrap: wrap; */
}

.about a{
    text-decoration:  none;
    color: #fff;
    background: rgb(36,32,30);
    margin: 26px 0;
    padding: 10px 18px;
    border-radius: 10px;
    display: inline-block;
    transition: .4s ease;
    margin-left: 30%;
}

.education{
    background: url(./images/pic/bg.jpg);
    background-position: center;
    background-size: cover;
    padding: 5% 10%;
    /* justify-content: space-between; */
}
.education h1{ 
    text-align: center;
    color: tomato;
    margin-bottom: 15px;
}
.edu{
    display: flex;
}
.edu h3{
    color: tomato;
    font-size: 25px;
    margin-bottom: 10px;
}
.edu h5{
    font-size: 1rem;
    /* text-align: justify; */
}
.edu .tenth{
    display: block;
    margin: 10px;
    padding: 5%;
    line-height: 20px;
    background-color: aliceblue;
    border-radius: 15px;
    box-shadow: 5px 5px 10px aliceblue;
}
.edu .inter{
    display: block;
    margin: 15px;
    padding: 5%;
    line-height: 20px;
    background-color: aliceblue;
    border-radius: 15px;
    box-shadow: 5px 5px 10px aliceblue;
}
.edu .btech{
    display: block;
    margin: 10px;
    padding: 5%;
    line-height: 20px;
    background-color: aliceblue;
    border-radius: 15px;
    box-shadow: 5px 5px 10px aliceblue;
}
.skills{
    /* border: 1px solid; */
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    padding: 15px;
}
.skill-info{
    width: 25%;
}
.skill-info h3{
    text-align: center;
    color: tomato;
    font-size: 1 rem;
}
.skill-con {
    background-color: transparent;
    border: 2px solid blue;
    border-radius: 8px;
    box-sizing: border-box;
    height: 14px;
    margin-bottom: 12px;
    width: 100%;
}
.design h4{
    color: palevioletred;
    margin-top: 5px;
}
.coding h4{
    color: palevioletred;
    margin-top: 5px;
}
.percent{
    transition: all 2.5s ease-in-out;
}
.percent {
    background-color: skyblue;
    border: 2px solid #fff;
    border-radius: 9px;
    height: 10px;
    padding: 0;
}
.skill-1{
    width: 90%;
}
.skill-2{
    width: 90%;
}
.skill-3{
    width: 80%;
}
.skill-4{
    width: 80%;
}
.skill-5{
    width: 80%;
}
.skill-6{
    width: 65%;
}
.project{
    background: url(./images/pic/bg.jpg);
    background-position: center;
    background-size: cover;
    padding: 5% 10%;
}
.project h1{
    text-align: center;
    color: tomato;
    margin-bottom: 20px;
}
.pro a{
    text-decoration:  none;
    color: #fff;
    background: rgb(36,32,30);
    margin: 26px 0;
    padding: 10px 18px;
    border-radius: 10px;
    display: inline-block;
    transition: .4s ease;
    /* margin-left: 30%; */
}
.pro h3{
    color: tomato;
    padding: 5px 10px;
}
.pro p{
    padding: 3px 10px 0px 30px;
}

.pro-info{
    display: flex;
    flex-direction: column;
}

footer {
    height: 17rem;
    /* border: 1px solid; */
    color: white;
    background-color: #2b2a29;
    display: flex;
    flex-direction: column;
}
.inp {
    padding: 3% 15px;
}
.inp p{
    text-align: center;
}
.inp a{
    text-decoration: none;
    color: white;
    text-transform: none;
    /* text-align: center; */
}
.inp a:hover{
    color: #f26522;
}
.ul_list {
    margin: 10px 20%;
}

.ul_list ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

.ul_list ul li a {
    color: white;
    text-decoration: none;
}

.ul_list ul li a:hover {
    color: #f26522;
}
footer h1{
    text-align: center;
    padding-top: 2%;
}
footer .icon{
    text-align: center;
    margin-top: 20px;
}
footer .icon a {
    text-decoration: none;
    color: white;
    padding: 10px;
    font-size: 20px;
}
footer .icon a:hover{
    color: #f26522;
}













 @media only screen and (max-width:991px){
    header{
        padding: 10px;
    }
    header label{
        display: initial;
    }
    header .navbar{
        position: absolute;
        top: 100%;
        left: 0;right: 0;
        background-color: white;
        border-top: 1px solid rgba(0,0,0,.1);
        display: none;
    }
    header .navbar ul li{
        width: 100%;
    }
    #menu-bar:checked ~ .navbar{
        display: initial;
        /* overflow: hidden; */
    }
 }


 @media only screen and (min-width:991px) and (max-width:1024px){
    .info{
        margin-left: 7%;
        padding-top: 13%;
        margin-top: 10%;
    }
    
    .info h1{
        font-size: 40px;
        color: rgb(36,32,30);
    }
    
    .info h3{
        font-size: 18px;
        letter-spacing: 1px;
        line-height: 24px;
    }
    
    /* .image img{
        position: absolute;
        height: 140%;
        top: -70%;
        left: 40%;
        transform: translate(-55%);
        bottom: 0%;
        transition: left 2s ease;
    }
    .image{
        width: 30%;
        height: 40%;
        top: -60%;
        position: absolute;
        right: 100px;
        bottom: 0%;
    } */

    .image{
        position: absolute;
        width: 40%;
        height: 90%;
        right: 50px;
        bottom: 30%;
        top:20%
    }
    .image img{
        position: absolute;
        /* margin-top: 8%; */
        border-radius: 30%;
        height: 40%;
        margin-left: 20%;
        bottom: 30%;
        top: -5%;
        /* top: -70%; */
        
    }
    .image:hover .girl{
        left: 75%;
    }
    
    .icons a{
        text-decoration: none;
        color: #000;
    }
    
    .icons .ion{
        margin-left: 7%;
        color: #000;
        margin-right: -40px;
        font-size: 40px;
        transition: .4s ease;
        
    }
    
    .icons .ion:hover{
        color: rgb(59,174,209);
    }

    .about img{
        position: absolute;
        margin-top: 3%;
        border-radius: 30%;
        height: 40%;
        margin-left: 3%;
        
    }
 }

 @media only screen and (min-width:760px) and (max-width:990px){
    .info{
        margin-left: 7%;
        padding-top: 13%;
        margin-top: 10%;
    }
    
    .info h1{
        font-size: 35px;
        color: rgb(36,32,30);
    }
    
    .info h3{
        font-size: 18px;
        letter-spacing: 1px;
        line-height: 24px;
    }
    
    
    .image{
        position: absolute;
        width: 40%;
        height: 80%;
        right: 50px;
        bottom: 30%;
        top:20%
    }
    .image img{
        position: absolute;
        /* margin-top: 8%; */
        border-radius: 30%;
        height: 40%;
        margin-left: 40%;
        bottom: 30%;
        top: -5%;
        /* top: -70%; */
        
    }
    .image:hover .girl{
        left: 75%;
    }
    
    .icons a{
        text-decoration: none;
        color: #000;
    }
    
    .icons .ion{
        margin-left: 7%;
        color: #000;
        margin-right: -40px;
        font-size: 40px;
        transition: .4s ease;
        
    }
    
    .icons .ion:hover{
        color: rgb(59,174,209);
    }

    .about img{
        position: absolute;
        margin-top: 3%;
        border-radius: 30%;
        height: 40%;
        margin-left: 3%;
        
    }
 }

 @media only screen and (min-width:550px) and (max-width:759px){
    .info{
        margin-left: 7%;
        padding-top: 13%;
        margin-top: 10%;
    }
    
    .info h1{
        font-size: 30px;
        color: rgb(36,32,30);
    }
    
    .info h3{
        font-size: 16px;
        letter-spacing: 1px;
        line-height: 24px;
    }
    
    
    .image{
        position: absolute;
        width: 40%;
        height: 80%;
        right: 50px;
        bottom: 30%;
        top:20%
    }
    .image img{
        position: absolute;
        /* margin-top: 8%; */
        border-radius: 30%;
        height: 40%;
        margin-left: 50%;
        bottom: 30%;
        top: -5%;
        /* top: -70%; */
        
    }
    .image:hover .girl{
        left: 75%;
    }
    
    .icons a{
        text-decoration: none;
        color: #000;
    }
    
    .icons .ion{
        margin-left: 7%;
        color: #000;
        margin-right: -40px;
        font-size: 30px;
        transition: .4s ease;
        
    }
    
    .icons .ion:hover{
        color: rgb(59,174,209);
    }

    .about img{
        position: absolute;
        margin-top: 7%;
        border-radius: 30%;
        height: 40%;
        margin-left: 3%;
        
    }
    .about p{
        /* display: block; */
        margin-left: 30%;
        margin-top: 10%;
        margin-right: 10%;
        line-height: 24px;
        text-transform: none;
        font-size: 18px;
        text-align: justify;
    }
    .education{
        padding: 5%;
    }
    .edu .tenth{
        width: 40%;
    }
    .edu .inter{
        width: 40%;
    }
    .edu .btech{
        width: 40%;
    }
    .skill-info{
        width: 40%;
    }
 }

 @media only screen and (max-width:549px){
    header{
        width: 100%;
    }
    .info{
        margin-left: 7%;
        padding-top: 13%;
        margin-top: 20%;
    }
    
    .info h1{
        font-size: 25px;
        color: rgb(36,32,30);
    }
    
    .info h3{
        font-size: 16px;
        letter-spacing: 1px;
        line-height: 20px;
    }
    
    .image{
        display: none;
    }

    .info a{
        margin: 10px;
    }
    
    .icons .ion{
        margin-left: 7%;
        color: #000;
        margin-right: -10px;
        font-size: 25px;
        transition: .4s ease;
        
    }
    
    .about img{
        display: none;
        
    }
    .about p{
        /* display: block; */
        margin-left: 10%;
        margin-top: 10%;
        margin-right: 10%;
        line-height: 24px;
        text-transform: none;
        font-size: 18px;
        text-align: justify;
    }
    .education{
        padding: 5%;
    }
    .edu{
        display: flex;
        flex-direction: column;
    }
    .skills{
        display: flex;
        flex-direction: column;
    }
    .skill-info{
        width: 70%;
    }
    footer h1{
        font-size: 20px;
    }
    .ul_list ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .ul_list ul li{
        margin: 2px;
    }
 }